:root {
  --main-bg-color: #e9e7df;
  --main-color: #79bed7;
  --secondary-color: white;
  --third-color: #a9a193;
  --font-heading: "Anton", sans-serif;
  --font-paragraph: "Abel", sans-serif;
}
body {
  background-color: var(--main-bg-color);
}
h1 {
  position: absolute;
  top: 204px;
  left: 94px;
  font-size: 95px;
  font-family: var(--font-heading);
}
h2 {
  text-align: center;
  font-family: var(--font-heading);
  color: var(--secondary-color);
  margin-top: 28px;
}
p {
  position: absolute;
  top: 262px;
  left: 94px;
  font-size: 30px;
  font-family: var(--font-paragraph);
  margin-top: 70px;
}
h1,
p {
  color: var(--secondary-color);
}
video {
  object-fit: cover;
  width: 100%;
  padding: 15px;
  max-height: 600px;
}
img {
  opacity: 0.8;
}
footer {
  font-size: 13px;
  margin: 13px 0;
  text-align: center;
  color: var(--third-color);
}
footer a {
  color: var(--main-color);
}
footer a:hover {
  color: var(--secondary-color);
}
.navbar {
  position: absolute;
  right: 15px;
}
.nav-item {
  margin-right: 56px;
  margin-top: 16px;
  color: var(--third-color);
  text-transform: uppercase;
  border-style: solid;
  border-width: thin;
  opacity: 0.8;
}
.underline {
  width: 85px;
  height: 9px;
  background: var(--main-color);
  margin-left: auto;
  margin-right: auto;
}
.card {
  margin: 70px 121px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card-body {
  padding: 5.5rem 1rem;
}
.card-title {
  width: 85px;
  height: 5px;
  background: var(--main-color);
  margin-left: auto;
  margin-right: auto;
}
.card-text {
  color: var(--third-color);
  font-size: 16px;
  font-family: var(--font-paragraph);
  margin: 64px -62px;
  width: 250px;
}
.social-media-links {
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
}
.social-media-links a {
  color: #79bed7;
  padding: 6px;
}
.social-media-links a:hover {
  color: var(--secondary-color);
}
@media (max-width: 900px) {
  h1 {
    position: relative;
    left: 29px;
    font-size: 40px;
    top: 73px;
  }
  p {
    position: relative;
    top: 53px;
    font-size: 12px;
    left: 28px;
    width: 206px;
  }
}
